.board-cards {
  align-self: flex-end;
  margin: 0 auto 4vh auto;
}

.board-cards-bottom {
  margin-top: 18vh;
}

/* Cards */

.board-cards .standard-card {
  width: 10vw;
}

.board-cards .container-card-text {
  margin: 0 3vw 0 3vw;
}

.board-cards .container-card-text p {
  font-size: 120%;
}

/* Console */

.board-log-text {
  position: absolute;
  right: 0;
  width: 18vw;
  margin: 20vh 1vw 0 0;
}

.board-log-text h2 {
  text-align: center;
}

.board-game-history {
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
}
