.info-show,
.info-hide {
  position: fixed;
  width: 10vw;
  /* change here to fix the modal height */
  height: 33vh;
  padding-top: 1vh;
  align-items: center;
  /* border: solid gold; */
  border-radius: 11px;
}

.info-show {
  animation: modalApparition 0.5s ease-out;
}

.info-hide {
  transition: transform 0.5s;
  transform: scale(1) translateX(100%);
}

.bg-opponent {
  background-image: url('../../img/bgmodalred.PNG');
}

.bg-player {
  background-image: url('../../img/bgmodalgreen.PNG');
}

.board-between-turns {
  position: absolute;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.466);
  height: 100vh;
  animation: popBetweenTurns 2.1s ease;
  display: flex;
}

.board-between-turns img {
  margin: auto;
}

.board-between-turns .opponents-turn {
  width: 50%;
}

.board-between-turns .player-turn {
  width: 30%;
}

@keyframes popBetweenTurns {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.info-show h4,
.info-hide h4 {
  text-align: center;
  color: #d2d2d2;
  margin: 2vh 0 2vh 0;
  font-size: 1.6em;
}

.info-show h5,
.info-hide h5 {
  text-align: center;
  color: #d2d2d2;
  margin: 4vh 0 0 0;
  font-size: 1.2em;
}

.info-show h6,
.info-hide h6 {
  text-align: center;
  color: #d2d2d2;
  margin: 2vh 0 6vh 0;
  font-size: 1em;
}

/* font-style: italic; */

.info-show p,
.info-hide p {
  text-align: center;
  margin: 2vh 0 0 0;
}

@keyframes modalApparition {
  from {
    transform: scale(1) translateX(100%);
    opacity: 0;
  }
}
