.info-show,
.info-hide {
  position: fixed;
  width: 10vw;
  height: inherit;
  padding-top: 1vh;
  align-items: center;
  /* border: solid gold; */
  border-radius: 11px;
}

.info-show {
  animation: modalApparition 0.5s ease-out;
}

.info-hide {
  transition: transform 0.5s;
  transform: scale(1) translateX(100%);
}

.bg-opponent {
  background-image: url('../../img/bgmodalred.PNG');
}

.bg-player {
  background-image: url('../../img/bgmodalgreen.PNG');
}

.info-show h4,
.info-hide h4 {
  text-align: center;
  color: #d2d2d2;
  margin: 2vh 0 5vh 0;
  font-size: 1.5em;
}

.info-show p,
.info-hide p {
  text-align: center;
  margin: 0 0 2vh 0;
}

@keyframes modalApparition {
  from {
    transform: scale(1) translateX(100%);
    opacity: 0;
  }
}
