.collection-big-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1% 1% 1% 2%;
  width: 27vw;
  margin: 0.7vw;
  border: solid 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.collection-big-card li {
  text-align: start;
  margin: 1em;
  list-style: none;
  margin-left: 0;
  font-size: 1.5em;
}

.collection-big-card li:first-child {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.collection-big-card img {
  max-width: 57%;
  align-self: flex-start;
  box-shadow: 2px 2px 5px black;
}

.collection-big-card div {
  margin-top: 3%;
}

@media screen and (max-width: 1650px) {
  .collection-big-card li {
    margin: 10px;
    margin-top: 1em;
    font-size: 1.2em;
  }
}
