.standard-card {
  display: block;
  background-image: url('https://www.superherodb.com/pictures2/portraits/10/100/639.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3%;
  box-shadow: 5px 5px 5px black;
}
