.container-card-text {
  display: inline-block;
  position: relative;
}

.container-card-text .standard-card {
  display: block;
  background-image: url('https://www.superherodb.com/pictures2/portraits/10/100/32.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4.5%;
  box-shadow: 5px 5px 5px black;
}

.container-card-text .attack {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 86%;
  left: 8%;
}

.container-card-text .life {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 86%;
  right: 8%;
}
