.stats-page {
  background-image: url('../../img/Dark\ Scene\ Wall\ 004.jpg');
  background-size: cover;
  background-position: center;
}

.stats-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15vh 5vw 0 5vw;
}

.stats-body section {
  width: 100%;
}

.stats-games ul,
.stats-level div {
  display: flex;
  justify-content: space-between;
}

.stats-body h2 {
  color: #d2d2d2;
  font-size: 3em;
}

/* Title */

.stats-page .stats-title {
  width: 500px;
}

/* Games section */

.stats-games ul {
  list-style: none;
  margin: 3em;
  margin-right: 40%;
}

/* Level section */

.stats-level > div {
  margin: 3em;
  margin-right: 50%;
}

/* Most played section */

.stats-played > div {
  display: flex;
  justify-content: space-around;
  padding: 3em;
}

.stats-played img {
  width: 200px;
}
