.stats-page {
  background-image: url('../../img/Dark\ Scene\ Wall\ 004.jpg');
  background-size: cover;
  background-position: center;
}

.stats-body {
  margin: 15vh 5vw 0 5vw;
}

.stats-games ul,
.stats-level div {
  display: flex;
  justify-content: space-between;
}

/* Title */

.stats-page h1 {
  text-align: center;
  margin: 1em;
}

/* Games section */

.stats-games ul {
  list-style: none;
  margin: 3em;
  margin-right: 40%;
}

/* Level section */

.stats-level > div {
  margin: 3em;
  margin-right: 50%;
}

/* Most played section */

.stats-played > div {
  display: flex;
  justify-content: space-around;
  margin: 3em;
}

.stats-played img {
  width: 200px;
}
