*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: BADABB;
}

p,
li {
  color: #efc958;
  text-shadow: 3px 3px #333;
  text-align: center;
}

.bigger-P-Li {
  font-size: 3vh;
}

h2 {
  font-size: 4.5vh;
  color: #d2d2d2;
  text-shadow: 5px 5px #333;
}

.darkcity-bg {
  background-image: url('./img/Dark Scene Wall 004.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.button-splashbg {
  background-image: url('./img/splashbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
