/* Top part (deck + validation) */

.collection-top {
  height: 30vh;
}

.collection-deck {
  display: flex;
  width: 60vw;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px;
  flex-wrap: wrap;
}

.collection-deck-title {
  align-self: center;
  padding-left: 3%;
  width: 15vw;
}

.collection-deck .standard-card {
  width: 120px;
}

.collection-valid {
  justify-content: space-around;
  align-items: center;
  width: 25vw;
  border: solid 1px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.collection-valid-fight {
  width: 10vw;
}

.collection-valid-fight img {
  height: inherit;
  width: inherit;
  transition: transform 0.2s;
}

.collection-valid-fight img:hover {
  transform: scale(1.4) rotate(-3deg);
}

/* Bottom part (card mozaik + card detail) */

.collection-bottom {
  height: 50vh;
}

.collection-bottom-left {
  width: 75vw;
  margin: 10px;
}

.collection-filter {
  height: 30px;
  text-align: right;
  margin: 20px 100px 10px 0px;
}

.collection-cards {
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
  overflow-y: auto;
}

.collection-cards .standard-card {
  width: 100px;
  margin: 20px 30px 20px 30px;
}

.collection-cards .container-card-text .attack {
  top: 78%;
  left: 23%;
  font-size: 80%;
}

.collection-cards .container-card-text .life {
  top: 78%;
  right: 23%;
  font-size: 80%;
}

.collection-big-card {
  display: flex;
  width: 25vw;
  margin: 10px;
  border: solid 1px;
  align-items: baseline;
  background-color: rgba(255, 255, 255, 0.3);
}

.collection-big-card .large-card {
  margin: 20px;
}

/*Collection cards state*/

.isChosen {
  filter: grayscale(50%);
  opacity: 50%;
}
