/* NavBar */
.navbar {
  height: 0px;
  position: fixed;
  width: 90%;
  margin-left: 5%;
}

.navbar ul {
  align-items: center;
  list-style: none;
  margin: 0;
}

.navbar li {
  margin: 10px 25px 0;
  color: #d2d2d2;
  font-size: 5vh;
  text-decoration: none;
  transition: transform 0.2s;
  text-shadow: 5px 5px #333;
}

.navbar li:last-child {
  margin-left: auto;
}

.navbar img {
  width: 15vh;
}

.navbar a {
  text-decoration: inherit;
  color: inherit;
}

.navbar li:hover {
  transform: scale(1.2);
}
